
.banner
  overflow-x hidden
  img
    height 600px
  margin-bottom 40px


.banner__text
  display block;
  text-align right;
  position absolute;
  width 100%;
  color white


.banner__text_silver
  top 250px
  font-size 80px
  font-family 'Josefin Slab', serif
  text-align center



.banner__text_sportclub
  top 345px
  font-size 30px
  font-family cursive
  padding-right 35%


.banner__text_believe
  top 540px
  font-size 20px
  font-family 'Poiret One', cursive
  text-align center



.banner__text_sovremenny
  top 630px
  font-size 40px
  font-family 'Crimson Text', serif
  text-align center
  color black



@media screen and (max-width 500px)
  .banner__text_silver
    font-size 60px

.features
  //margin auto
  margin-top 50px
  margin-bottom 50px
  text-align center
  width 100%



.features__feature
  font-size 18px
  width 20%
  min-width 180px
  display inline-block
  margin 20px 20px
  .features__feature-text
    line-height 25px


.features__feature-image
  width 70px
  height 70px

.middle-title
  text-align center
  font-size 40px
  font-family 'Crimson Text' serif
  margin-bottom 30px

.homepage-description
  font-size 18px
  padding 35px 65px


.banner__text_sovremenny
  font-size 40px
  font-family 'Crimson Text', serif
  text-align center
  color black

.banner_2
  background url(../img/img/banner-2.png) 0 0 no-repeat
  height 540px

// Code here!
.gallery
  text-align center

.gallery__item
  display inline-block
  margin 30px 30px
  img
    height 200px
    width 300px
    border-width 5px
    border-radius 5px
    border-color black

.contacts
  display block
  text-align center

.contacts__adress
  text-align left
  display inline-block
  width 45%
  min-width 300px
  margin-top 30px
  margin-bottom 30px
  font-size 16px
  line-height 30px

.contacts__map
  display inline-block
  width 45%
  min-width 300px
  margin-top 30px
  margin-bottom 30px
  vertical-align top
  img
    width 300px
    border-radius 5px
    border-width 5px
