footer.footer
  p.footer__contact-adress S I L V E R  &nbsp;  Истра
  p.footer__contact-phone  По все вопросам звоните по  тел. +7 (916) 123 45-67
  ul.footer__social-links
    li.footer__social-link
      a(href="https://vk.com/sportclubsilver")
        img(src="../../static/img/img/vk.png").footer__social-link-image
    li.footer__social-link
      a(href="https://vk.com/sportclubsilver")
        img(src="../../static/img/img/facebook.png").footer__social-link-image
    li.footer__social-link
      a(href="https://vk.com/sportclubsilver")
        img(src="../../static/img/img/instagram.png").footer__social-link-image
  p.footer__sign Designed by Konstantin Astapov       
