header.header
  .header__contacts
    .header__contacts-phone
      img(src="../../static/img/img/phone.png") 
      span +7 (916) 569-28-60
    .header__contacts-map
      img(src="../../static/img/img/signs.png")  
      a(href="javascript:void(0);") Cхема проезда
.header__menu-wrap
  .header__burger
    span.header__burger-dash.header__burger-dash_top
    span.header__burger-dash.header__burger-dash_middle 
    span.header__burger-dash.header__burger-dash_bottom          
   
  ul.header__menu  
      li
        a(href="javascript:void(0);") О клубе
      li
        a(href="javascript:void(0);") Клубные карты  
      li
        a(href="javascript:void(0);") Фотогаллерея 
      li 
        a(href="javascript:void(0);") Контакты 
             
.header__logo
  img(src = "../../static/img/img/logo.png")
