.footer
 background-color black
 overflow hidden



.footer__contact-adress
  color white
  text-align center
  font-size 25px
  padding-top 20px;
  margin-bottom 20px


.footer__contact-phone
  color white
  text-align center
  font-size 20px
  margin-top 20px
  margin-bottom 20px



.footer__social-links
  text-align center
  margin-top 20px
  padding-bottom 50px
  padding-left 0



.footer__social-link
  line-height 1.5em
  display inline-block
  margin-left 50px
  margin-right 50px




.footer__social-link-image
  width 100%


.footer__sign
  color white
  font-style 18px
  font-family 'Poiret One', cursive
  float right
  margin-right 30px
  margin-bottom 30px
