extends ../layout/main

block title
	| Главная страница

block content
	.banner
		img(src="../../static/img/gallery/New_top_banner_noeffect.png")
		div.banner__text.banner__text_silver S I L V E R
		div.banner__text.banner__text_sportclub sport-club
		div.banner__text.banner__text_believe поверь в свою силу	 
	
	
	h3.middle-title О клубе
	a(name="about")
	.features
		.features__feature
			img(src="../../static/img/img/pulse.png").features__feature-image
			.features__feature-text Крепкое здоровье
		.features__feature
			img(src="../../static/img/img/weightlifting.png").features__feature-image
			.features__feature-text Сильное тело
		.features__feature
			img(src="../../static/img/img/exercise.png").features__feature-image
			.features__feature-text Красивая форма
		.features__feature
			img(src="../../static/img/img/proteins.png").features__feature-image
			.features__feature-text Cпортивное питание
	div.homepage-description.page-content
		p.homepage-description__text.
			Фитнес-клуб Сильвер - это спортивный комплекс,
			где Вы можете  привести свою фигуру в форму и улучшить физическое состояние организма.
			Помимо оснащенного всем самым современным оборудованием тренажерного зала, у нас имеется
			помещение для аэробики, которое придется по вкусу прекрасным дамам,
				 а для брутальных мужчин у нас есть специально оборудованная бойцовская зона, где они всегда смогут «выпустить пар».
			Занимаясь на беговых дорожках Вы сможете наслаждаться видом на окресности через панорамные окна.
			Сильвер оснащен не только самым современным спортивным оборудованием, но также комфортными и удобно расположенными раздевалками.
			Мы гарантируем Вам успешную фитнес-программу и отличное настроение!
			Наш фитнес-клуб находится в поселке Северный в 3км от Истры по Бужаровскому шоссе и имеет удобную парковку.
			В шаговой доступности от нас находятся продуктовые магазины, кафе и рестораны, поэтому Вы сможете не только привести свою форму в порядок но и совершить необходимые покупки.
			Мы ждем вас!

	div.banner.banner_2
		a(name="photos")
		.banner__text_sovremenny Современный тренажерный зал
		.gallery 		 
			.gallery__item
				img(src="../../static/img/gallery/gal-1.jpg").
			.gallery__item
				img(src="../../static/img/gallery/gal-2.jpg").
			.gallery__item
				img(src="../../static/img/gallery/gal-5.jpg").
			.gallery__item
				img(src="../../static/img/gallery/gal-3.jpg").
			.gallery__item
				img(src="../../static/img/gallery/gal-6.JPG").
			.gallery__item
				img(src="../../static/img/gallery/gallery-5.JPG").	
	
	.banner__text_sovremenny Услуги и цены
		a(name="prices")
		.price
			.price__item Стоимость абонемента на 1 месяц - 2000 руб.
			.price__item на 3 месяца - 5400 руб.
			.price__item на 6 месяцев - 10000 руб.
			.price__item на 12 месяцев - 18000 руб.
	.banner__text_sovremenny Контакты	
	.contacts
		a(name="address") 
		.contacts__adress
			p.contacts__contact Спортклуб SILVER
			p.contacts__contact Истринский район, п. Северный
			p.contacts__contact БЕЗ ВЫХОДНЫХ <br/> c 10:00 до 22:00
			p.contacts__contact Как к нам добраться: по Бужаровскому шоссе в сторону от Истры, <br/> при въезде в поселок Северный с правой стороны шоссе увидете двухэтажное здание, <br/> в нем расположен наш спортклуб.
			p.contacts__contact +7 (977) 770-70-71
		.contacts__map
			img(src="../../static/img/img/map.png").
											
